### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Node
node_modules/
frontend/node_modules/
backend/node_modules/

# Gradle build cache
.gradle/
backend/.gradle/
